# IDE
.zed/

# Environment
.env
.env.local
.env.*.local

# deploy
deploy/deploy.conf

# Build outputs
dist/
dist-ssr/
build/
ohara

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sw?
*.suo

# Testing
coverage/
cypress/videos/
cypress/screenshots/
__screenshots__/

# Temp files
tmp/
temp/
*.tmp


# backend
backend/app-data/
/backend/.storage
