@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Space Grotesk", sans-serif;

  --color-background: #131313;
  --color-surface: #131313;
  --color-surface-container-low: #1C1B1B;
  --color-surface-container-high: #2A2A2A;
  --color-surface-container-highest: #353534;
  --color-primary-container: #FF8C00;
  --color-on-primary-container: #4d2600;
  --color-secondary: #FF4A8D;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #ddc1ae;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans overflow-hidden;
  }
}

.digital-grain {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  pointer-events: none;
  z-index: 50;
  opacity: 0.02;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

body {
    background-color: #131313;
    color: #e5e2e1;
    font-family: 'Space Grotesk', sans-serif;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

