DEPLOY_SERVER="user@your-vps"
DEPLOY_PASSWORD=""

# code's dependent on these paths for now, better to keep them as is, or change them in the code as well
DEPLOY_DIR="/opt/ohara"
DEPLOY_DATA_DIR="/var/lib/ohara"
DEPLOY_CONFIG_DIR="/etc/ohara"
DEPLOY_CACHE_DIR="/var/cache/ohara"
DEPLOY_BINARY_NAME="ohara"
DEPLOY_SERVICE_NAME="ohara"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-me-immediately"
